.fixednavbar-wrapper {
  background-color: var(--background-blue-color);
  font-weight: 500;
  height: 100%;
  width: 225px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.fixednavbar-wrapper .employee-details {
  background-color: var(--light-hover-blue);
  color: ghostwhite;
  margin: .5vh 1vh 3.5vh .8vh;
  padding: 1.5vh 0 .01vh 2vh;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.02), 
              2px 2px 2px rgba(0,0,0,0.02),
              4px 4px 4px rgba(0,0,0,0.02),
              0 1px 0 ghostwhite inset,
              0 -1px 0 ghostwhite inset;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
.fixednavbar-wrapper .employee-details:hover {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.02),
              4px 4px 4px rgba(0,0,0,0.02),
              5px 5px 5px rgba(0,0,0,0.02),
              0 2px 0 ghostwhite inset,
              0 -2px 0 ghostwhite inset;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
.fixednavbar-wrapper .employee-details p:nth-child(1) {
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: -0.2vh;
}
.fixednavbar-wrapper ul li {
  background-color: var(--background-blue-color);
  list-style: none;
}
.fixednavbar-wrapper a.nav-link {
  color: rgba(248, 248, 255, 0.85);
  padding: 1.3vh 0 1.3vh 4vh;
  margin-top: 1.5vh;
  margin-right: 2vh;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
.fixednavbar-wrapper a.nav-link:hover {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.02), 
              2px 2px 2px rgba(0,0,0,0.02),
              4px 4px 4px rgba(0,0,0,0.02),
              6px 6px 6px rgba(0,0,0,0.02);
}
.fixednavbar-wrapper a.nav-link.active-here {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.02), 
              2px 2px 2px rgba(0,0,0,0.02),
              4px 4px 4px rgba(0,0,0,0.02),
              6px 6px 6px rgba(0,0,0,0.02),
              3px 0 0 ghostwhite inset;
}
.fixednavbar-wrapper a.nav-link.active-here,
.fixednavbar-wrapper a.nav-link:hover {
  color: rgb(248, 248, 255);
  background-color: var(--light-hover-blue);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}

.fixednavbar-wrapper a.nav-link-logout {
  background-color: var(--light-hover-blue);
  color: rgb(248, 248, 255);
  position: fixed;
  bottom: 5vh;
  text-decoration: none;
  padding: 1.3vh 4vh 1.3vh 4vh;
  margin-left: 4vh;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.02), 
              2px 2px 2px rgba(0,0,0,0.02),
              4px 4px 4px rgba(0,0,0,0.02),
              0 1px 0 ghostwhite inset,
              0 -1px 0 ghostwhite inset;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
.fixednavbar-wrapper a.nav-link-logout:hover {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.02),
              4px 4px 4px rgba(0,0,0,0.02),
              5px 5px 5px rgba(0,0,0,0.02),
              0 2px 0 ghostwhite inset,
              0 -2px 0 ghostwhite inset;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}