.loginpage-wrapper  {
  height: 100vh;
  overflow-x: hidden;
}
.loginpage-wrapper{
  background-color: #fff !important;
}
.login-img   {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/call-center.jpg');

}
.loginform-col {
  margin: auto;
  width: 80%;
  padding: 20px 40px;
  margin-top: 18vh;
}
.loginpage-wrapper .logo {
  width: 35vh;
  margin: auto;
  padding-bottom: 8vh;
}
.loginpage-wrapper .logo img {
  width: 100%;
}
.loginpage-wrapper .loginform-col i {
  color: var(--background-blue-color);
}
.loginpage-wrapper .form-group.password {
  margin-top: 3vh;
}
.loginpage-wrapper input[type=email] {
  border-radius: 5px;
}
.loginpage-wrapper input,
.loginpage-wrapper .input-group-text {
  height: 50px;
  background-color: var(--input-field-color);
}
.loginpage-wrapper .input-group-text {
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.loginpage-wrapper input[type=password],
.loginpage-wrapper input[type=text] {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.loginpage-wrapper input:focus,
.loginpage-wrapper .input-group:focus {
  background-color: var(--input-field-color);
}

.loginpage-wrapper button[type="submit"] {
  background-color: var(--background-blue-color);
  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 5px;
  margin-top: 1vh;
}
.loginpage-wrapper button[type="submit"]:hover {
  background-color: var(--background-blue-color);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.11), 2px 2px 2px rgba(0, 0, 0, 0.11),
    4px 4px 4px rgba(0, 0, 0, 0.11);
}

.loginpage-wrapper .forget-password p {
  color: var(--background-blue-color);
  margin-top: 2vh;
  font-weight: bold;
  text-decoration: none;
}


/* --- Media Queries --- */
/*Extra small devices {xs} (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .loginform-col {
    width: 90% !important;
  }
}
/*--- IPad Pro ---*/
@media (width: 1024px) and (height: 1366px) {
  .loginpage-wrapper .logo {
    width: 25vh;
    margin: auto;
    padding-bottom: 8vh;
  }
  .loginpage-wrapper .login-img {
    margin-left: -65vh;
  }
}