@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* styling scrollbars */
::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #e6e6e6;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background: #e2522e;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ee6644;
}

:root {
  --background-blue-color: #124383;
  --background-white-color: ghostwhite;
  --light-hover-blue: #3670bc;
  --input-field-color: #e6e6e6;
  --theme-orange-color: #c94322;
}

body {
  background-color: #e5e5e5;
  color: #000;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dashboard-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar nav nav nav"
    "sidebar main main main";
}

footer .footer-container {
  font-size: 14px;
  font-weight: 700;
  color: #797e81;
  padding: 20px 35px;
  margin-top: 4.5vh;
}

/* --- View Profile Screen --- */
.viewprofile-container {
  background-color: #ffffff;
  padding: 7vh 5vh;
}
.viewprofile-container .account-user {
  width: 25vh;
  border-radius: 5px;
  border: 1px solid #e2522e;
}
.viewprofile-container .account-user img {
  width: 100%;
  border-radius: 50px;
}
.viewprofile-details-body {
  margin-top: 5vh;
}
.viewprofile-details-body-header {
  font-size: 1.2rem;
  color: var(--background-blue-color);
  font-weight: 600;
}
.viewprofile-details-row {
  margin-top: 2vh;
}
.viewprofile-details-title {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  margin-bottom: 0;
  font-size: 1rem;
}
.viewprofile-details-content {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 1rem;
}
.viewprofile-container button {
  background-color: var(--background-blue-color);
  letter-spacing: 1px;
  margin-top: 4vh;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.25),
    4px 4px 4px rgba(0, 0, 0, 0.25);
}
.viewprofile-container button:hover {
  background-color: var(--light-hover-blue);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35), 2px 2px 2px rgba(0, 0, 0, 0.35),
    4px 4px 4px rgba(0, 0, 0, 0.35), -1px -1px 1px rgba(0, 0, 0, 0.05),
    -2px -2px 2px rgba(0, 0, 0, 0.05), -4px -4px 4px rgba(0, 0, 0, 0.05);
}
.viewprofile-details-header p {
  font-weight: bold;
}
.viewprofile-details-header p > span {
  background-color: var(--theme-orange-color);
  color: ghostwhite;
  font-weight: 200;
  padding: 3px 5px;
  border-radius: 5px;
}

/* --- Update Profile Screen --- */
.update-profile-tab,
.update-profile-tab .nav-item {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  border: 0;
  font-weight: bold;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
.update-profile-tab .active-tab {
  margin-bottom: 2vh;
}
.update-profile-tab .tab-title {
  font-weight: 500;
}
.update-profile-tab .active-tab:hover {
  color: var(--background-blue-color) !important;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
.update-profile-tab .active-tab.active {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: var(--background-blue-color) !important;
  border-bottom: 2px solid var(--background-blue-color) !important;
}
.update-profile-tab .active-tab.active .tab-title,
.update-profile-tab .active-tab:hover .tab-title {
  color: #e2522e !important;
}

/* --- My Leave --- */
.myleave-wrapper {
  margin-top: 4vh;
}
.modal-content {
  background-color: #ffff;
  border-radius: 5px;
}
.myleave-modal .modal-content .modal-title {
  color: var(--background-blue-color);
}
.myleave-modal .modal-content form {
  padding-left: 2vh;
  padding-right: 2vh;
}
.myleave-modal .modal-content form input,
.myleave-modal .modal-content form select {
  margin-bottom: 1vh;
  height: 45px;
  background-color: var(--input-field-color);
  border-radius: 5px;
}
.myleave-modal .modal-content form select {
  height: 6vh;
}
.myleave-modal .modal-content form input:focus,
.myleave-modal .modal-content form select:focus,
.myleave-modal .modal-content form textarea:focus {
  background-color: var(--input-field-color);
  border: 1px solid #e2522e;
  box-shadow: 0 0 2px #e2522e;
}
.myleave-modal .modal-content button {
  border-radius: 5px;
}
button.applyleave-btn {
  background-color: var(--background-blue-color);
  border-radius: 25px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.25),
    4px 4px 4px rgba(0, 0, 0, 0.25);
}
button.applyleave-btn:hover,
button.applyleave-btn:active {
  background-color: var(--background-blue-color);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35), 2px 2px 2px rgba(0, 0, 0, 0.35),
    4px 4px 4px rgba(0, 0, 0, 0.35), -1px -1px 1px rgba(0, 0, 0, 0.05),
    -2px -2px 2px rgba(0, 0, 0, 0.05), -4px -4px 4px rgba(0, 0, 0, 0.05);
}
.myleave-table {
  margin-top: 5vh;
}
.all-leaves select.approveleave-selectinput {
  height: 6vh;
}
.all-leaves select.approveleave-selectinput:focus {
  background-color: var(--input-field-color);
  box-shadow: 2px 0 1px var(--background-blue-color) inset;
  /* outline: 0 none; */
}
.all-leaves button {
  background-color: var(--background-blue-color);
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.25),
    4px 4px 4px rgba(0, 0, 0, 0.25);
}
.all-leaves button:hover,
.all-leaves button:focus,
.all-leaves button:active {
  background-color: var(--background-blue-color);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35), 2px 2px 2px rgba(0, 0, 0, 0.35),
    4px 4px 4px rgba(0, 0, 0, 0.35), -1px -1px 1px rgba(0, 0, 0, 0.05),
    -2px -2px 2px rgba(0, 0, 0, 0.05), -4px -4px 4px rgba(0, 0, 0, 0.05);
}
.allLeave-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7vh;
}
.allLeave-title h3 {
  color: var(--background-blue-color);
  /* font-size: 1.7rem; */
  text-transform: capitalize;
}
.allLeave-title p {
  color: var(--background-blue-color);
  font-size: 1rem;
}
.not-eligible {
  margin-top: 2vh;
}
.not-eligible-container {
  margin-bottom: 3vh;
  text-align: center;
}
.not-eligible i {
  color: var(--theme-orange-color);
}
.not-eligible h2 {
  color: var(--theme-orange-color);
}
.not-eligible p {
  font-size: 1rem;
  font-weight: 500;
}
.not-eligible code {
  color: #000;
  font-size: 1.05rem;
  font-weight: bold;
}
/* --- End My Leave --- */

/* --- Staff List ---- */
.go-back-btn,
.create-user-btn {
  background-color: var(--background-blue-color);
  border-radius: 5px;
  color: ghostwhite;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
.go-back-btn:hover,
.go-back-btn:focus,
.go-back-btn:active,
.create-user-btn:hover,
.create-user-btn:focus,
.create-user-btn:active {
  background-color: var(--background-blue-color);
  color: ghostwhite;
  box-shadow: 1px 1px 1px rgba(61, 44, 44, 0.15),
    2px 2px 2px rgba(0, 0, 0, 0.15), 4px 4px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
.staff-list-btn-edit,
.staff-list-btn-key {
  border-radius: 25px;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
.staff-list-btn-edit {
  margin-right: 1vh;
}
.staff-list-btn-key {
  background-color: var(--background-blue-color);
}
.staff-list-btn-edit:hover,
.staff-list-btn-key:hover {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
/* --- Staff List ---- */

.page-header {
  margin-bottom: 4.5vh;
}
.page-header p {
  font-size: 1rem;
}
.page-header h3 {
  text-transform: capitalize;
}
.page-header h3,
.page-header p {
  color: var(--background-blue-color);
}

.loading {
  text-align: center;
  margin-top: 15px;
}

.title {
  font-size: 20px;
}

.alert {
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  color: red;
}

/* --- All Leave Application Screen ---- */
.all-leave-wrapper a.update-btn {
  background-color: var(--background-blue-color);
  padding: 1vh;
  border-radius: 5px;
  color: ghostwhite;
  text-decoration: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.25);
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
.all-leave-wrapper a.update-btn:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35), 2px 2px 2px rgba(0, 0, 0, 0.35),
    4px 4px 4px rgba(0, 0, 0, 0.35), -1px -1px 1px rgba(0, 0, 0, 0.05),
    -2px -2px 2px rgba(0, 0, 0, 0.05), -4px -4px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}

.form-shadow {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05), 2px 2px 2px rgba(0, 0, 0, 0.05),
    4px 4px 4px rgba(0, 0, 0, 0.05), -1px -1px 1px rgba(0, 0, 0, 0.05),
    -2px -2px 2px rgba(0, 0, 0, 0.05), -4px -4px 4px rgba(0, 0, 0, 0.05);
}

/* --- Update Leave Application Screen ---- */
.update-leave-wrapper form {
  margin-top: 30px;
  border-radius: 5px;
  padding: 5vh 7vh;
}
.update-leave-wrapper h1 {
  color: var(--background-blue-color);
}

/* --- Search Input Field & Button */
.search-input {
  background-color: var(--input-field-color);
  height: 6vh !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-input:focus {
  background-color: var(--input-field-color);
  box-shadow: 0 0 0 var(--background-blue-color) inset;
}
.search-btn {
  height: 6vh !important;
  background-color: var(--background-blue-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-btn:hover,
.search-btn:focus,
.search-btn:active {
  background-color: var(--background-blue-color);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05), 2px 2px 2px rgba(0, 0, 0, 0.35),
    4px 4px 4px rgba(0, 0, 0, 0.05);
}

/* --- Pagination --- */
.pagination a.page-link {
  background-color: var(--input-field-color);
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.pagination .page-item.active-page {
  background-color: var(--background-blue-color);
}
.pagination li.active a {
  background: var(--background-blue-color);
  color: #fff;
}
.pagination a.page-link:hover {
  background-color: var(--background-blue-color);
  color: ghostwhite;
}

@media only screen and (max-width: 978px) {
  .dashboard-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr 0.2fr;
    grid-template-areas:
      "nav"
      "main";
  }
}

@media (max-width: 300px) {
  #main-outer-div {
    width: 50%;
    min-width: 0px;
  }
}

/*Small devices {sm} (landscape phones, 576px and up)*/
@media (max-width: 575.98px) {
  header {
    margin-top: -3vh;
  }
  header .xs-header nav {
    margin-left: -4.5vh;
  }
}


/* Survey form Styling */
.container-fluid {
  background-color: #f6f6f6;
  height: 100vh;
  overflow-y: scroll;
}
.form-wrapper {
  display: flex;
  justify-content: center;
}
.table-wrapp {
  align-content: center;
}
.job-survey-container {
  margin: 10px auto;
  width: 40%;
  height: 600px;
  background-color: #fff;
 
}
@media only screen and (max-width: 978px) {
  .job-survey-container {
    width: 100%;
    margin: 0;
  }
}
.table-head {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0px 30px;
  margin-top: 20px;
  color: #124383;
}
.table-head h2 {
  color: #124383;
  letter-spacing: normal;
  text-transform: none;
  margin-top: 20px;
}
.survey-table {
  background: #fff !important;
  overflow: auto;
}
.table-header {
  display: flex;
  justify-content: space-between;
}
.survey-table th,
tr,
td {
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 8px;
  color: #5c5c5c;
}
.survey-table tbody tr td{
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
}
.table-wrapp table tbody{
  height: 400px;
  overflow-y: scroll;
}
.survey-table thead{
  background: #124383;
}
.survey-table th {
  letter-spacing: 1px;
  font-size: 14px;
  color: #f8f8f9;
  box-shadow: none !important;
  text-transform: none;
  font-weight: normal;
  padding: 10px;
}
.survey-table {
  margin: 50px auto;
}
.table-main tbody{
  height: 400px !important;
  overflow-y: scroll;
}
.survey-navigation {
  float: right;
  margin: 0px 30px;
}

.job-survey-container .header {
  padding: 10px 40px;
  background-color: #124383;
}
.job-survey-container .header h1 {
  text-transform: none;
  letter-spacing: normal;
  vertical-align: baseline;
}
.form-main {
  font-size: small;
  overflow-y: auto;
  max-height: 500px;
  padding: 20px 40px;
}
.form-main input,
select {
  margin-bottom: 20px;
}
.form-main p {
  color: #5c5c5c;
  font-weight: bold;
  margin: 5px 0px;
}
.header h1 {
  font-size: 25px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 500;
  margin: 10px auto;
}
.form-main input[type="button"] {
  background-color: #124383;
  color: #ffff;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  margin-top: 10px;
}
.form-main input[type="text"],
.form-main input[type="email"],
.form-main input[type="number"],
.form-main textarea,
.form-main select {
  width: 100%;
  outline: none;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.form-main input[type="text"]:focus,
.form-main input[type="email"]:focus,
.form-main input[type="number"]:focus,
.form-main textarea:focus,
.form-main select:focus {
  outline: none;
  border: 1px solid #e2522e;
  box-shadow: 0 0 1px #e2522e;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.form-main input::-webkit-input-placeholder {
  color: #a0a0a0;
  font-size: 14px;
}
.form-main input::-ms-input-placeholder {
  color: #a0a0a0;
  
  font-size: 14px;
}
.form-main input::placeholder {
  color: #a0a0a0;
}
.form-main select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1.3em + 2px),
    calc(100% - 15px) calc(1.3em + 2px),
    calc(100% - 2.5em) 0.9em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}
.job-logo img{
  margin:10px auto;
  background-repeat: no-repeat;
  float: right;
  height: 30px;
}
.language-type input{
  margin:0px 8px;
}
.apply-button{
  width: 20%;
  margin-top: 6vh;
  background-color: #e2522e;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  box-shadow: none;
  border: none;
}

.job-survey-container .success-msg {
  margin: 30px auto;
  text-align: center;
}
.job-survey-container .success-msg i {
  color: green;
}
.job-survey-container .success-msg p {
  font-weight: 300;
  margin-top: 20px;
  font-size: large;
}